body {
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: min-content min-content auto;
    height: 100vh;
    text-align: center;
    margin: 0;
}
